FISH_API_KEY=
FISH_VOICE_ID=
FISH_VOICE_ID1=

WHEATHER_API_KEY=
LAT_LOCATION=
LON_LOCATION=

VTS_AUTH_TOKEN=
URL_VTS=


VTS_HK_MICROFONO=
VTS_HK_BAGUETTE=
VTS_HK_AURICULARES=


VTS_HK_CARA_OSCURA=
VTS_HK_OJOS_OSCUROS=
VTS_HK_MAQUILLAJE_ROJIZO=
VTS_HK_OJOS_CORAZON=
VTS_HK_OJOS_ESTRELLA=
VTS_HK_OJOS_ENTRECERRADOS=
VTS_HK_VARIANTE_SV_UTAU=
VTS_HK_MODO_CHIBI=
VTS_HK_LLORAR=
VTS_HK_OJOS_MAREADOS=


VTS_HK_ELIMINAR_TODOS_LOS_TOGGLES=
VTS_HK_QUITAR_MARCA_DE_AGUA=